/* This file is for your main application css. */

/* @import "./phoenix.css"; */
@import "./main-container.css";

:root {
  --pre-file-size: 0.9em;
  --pre-line-height: 1rem;
}

body {
  padding: 1rem;
}

body.iframe {
  padding: 0 2px;
}

pre {
  margin: 0;
  overflow: auto;
  overflow-y: scroll;
  max-height: 480px;
  font-size: var(--pre-file-size);
  line-height: var(--pre-line-height);
  word-break: break-all;
}

pre code div {
  padding: 0 0.5rem 0 1rem;
  position: relative;
  white-space: pre-wrap;
}

pre code div::before {
  position: absolute;
  display: block;
  content: "";
  margin-left: -1em;
}

pre code div.init::before {
  color: #54c8ff;
  content: "I";
}

pre code div.text::before {
  color: #666;
  content: ">";
}

pre code div.supervisor::before {
  color: #54c8ff;
  content: "#";
}

pre code div.supervisor {
  color: #54c8ff;
}

pre code div.done::before {
  color: #d9e778;
  content: "D";
}

pre code div.done:not(:last-child) {
  margin-bottom: 1rem;
}

pre code div.error::before {
  color: #ff695e;
  content: "X";
}

.file .header > .icon {
  font-size: 1em;
}

.file .header.added > .icon {
  color: #6abb28;
}

.file .header.removed > .icon {
  color: #bb2828;
}

.file .header.changed > .icon {
  color: #284abb;
}

.file {
  margin-bottom: 1rem;
}

.file pre .add {
  background: #e6ffed;
}

.file pre .del {
  background: #ffeef0;
}

#code_validation_output .icon.check {
  color: #6abb28;
}

#code_validation_output .icon.exclamation {
  color: #bb2828;
}

.submissions {
  padding: 1rem;
}

#code-editor {
  height: 20rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
}

#code-editor textarea {
  resize: none;
  border: none;
  background: none;
  color: none;
  /* width: 0 !important; */
  min-height: 0;
  padding: 0;
}

pre#log {
  padding: 1rem;
  background: #111;
  color: #f2f2f2;
  border-radius: 0.28571429rem;
}

pre.file {
  font-size: var(--pre-file-size);
  line-height: var(--pre-line-height);
  margin: 0;
}

form .field label span {
  color: #767676;
}

.ui.vertical.menu .item > i.icon {
  float: left;
  margin: 0 0.5em 0 0;
}

.with-actions {
  display: flex;
  align-items: center;
}

.ui.label.job-id {
  margin-left: 0.5em;
}

.with-actions .actions {
  margin-left: auto;
}

.uploaded-files .remove {
  color: inherit;
}

.uploaded-files .remove .icon {
  color: #bb2828;
}
