<div class="ui grid">
  <%= render("sidebar.html", items: main_sidebar_items(@conn, @assignment), active_item: "Previous submissions") %>
  <div class="twelve wide column">
    <div class="ui segment submissions">
      <h4><i class="folder outline icon"></i> Previous submissions</h4>
      <%= for submission <- @submissions do %>
        <%= render("submission_table.html", conn: @conn, submission: submission) %>
      <% end %>
    </div>
  </div>
</div>